<html>
<head>
    <%- Include("./partials/head", {titulo:"Producto"}) %>
</head>
<body>
    <%- Include("./partials/header") %>
    <main>
    	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Caja de Guaymallen</h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<% for (let i = 0; i < alfajores.length; i++) { %>
						<img src="<% alfajores[i].imagen %> " alt="<% alfajores[i].descripcion %> " class="product-detail-img">
						<p class="product-detail-description">
						<%= alfajores[i].descripcion %> 	
						</p>		
					<% } %> 
					
					
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<% for (let i = 0; i < comentario.length; i++) { %>
									<p class="user">
										<strong> <a href="profile.html">Nombre usuario: </a> </strong>
										<%= comentario[i].comentario %>	
									</p>
								<% } %> 
								
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
   </main>
   <%- Include("./partials/footer") %>
</body>

</html>