<html>
<head>
    <%- include("./partials/head", {titulo:"Producto"}) %>
</head>
<body>
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>
    <main>
    	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= producto.nombre %> </h2>
			<p class="product-detail-description">
				<% if (locals.user) { %>
					<% if (locals.user.id == producto.Propietario.id) { %>
						<a href="/products/products-edit/<%= producto.id %>">Editar producto</a>
						<a href="/products/delete/<%= producto.id %>">Borrar producto</a>
						<% } %>
					<% } %>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.image %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %>
					</p>
					<h1 class="nombre"><a href=" "> Subido por <%= producto.Propietario.username %> 
							 </h1> </a>
					<p> </p>
					
					
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img  alt="">
							<div class="data">
								<p><%= producto.descripcion %></p>
								
							</div>
						</article>

					</section>
					<ul>
						<% for(let i = 0; i<comments.length; i++) { %>
							<li>
								<a class="queso" href="/profile/detail/<%=comments[i].UsersComments.id%>"><%= comments[i].UsersComments.username %> </a>
								<p class="null"> <%= comments[i].text %>  </p>
								<p class="null"> <%= comments[i].createdAt %> </p>
							</li>
						<% } %> 

					</ul>
					<form class="form" action="/products/comentario/<%= producto.id%>" method="POST">
						<input class="form-input" type="text" name="comentario"  placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
   </main>
   <%- include("./partials/footer") %>
</body>

</html>