<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head", {titulo:"Editar Producto"}) %>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Editar productos</h2>
			</div>
			<div class="col-11">
				<% if (locals.errores) {%> 
					<%= errores.message  %>  
				<% } %> 
				</div>
				</div>
			<!-- Show the "ultimos" products -->
			<form action="/products/edited/<%= producto.id %> " method="post" enctype="multipart/form-data">
				<div>
					 <label for="nombre">Nombre:</label>
					 <input id="nombre" type="text" name="nombre" value="<%=producto.nombre%> ">
				 </div>				
					
				  	<div>
					<label for="Descripción">Descripción:</label>
					<input id="Descripción" type="text" name="descripcion" value="<%= producto.descripcion %> ">
					</div>

				   <div>
					<label for="imagen del producto">imagen del producto:</label>
					<input id="imagen del producto" type="file" required name="image" accept="image/png,image/jpeg" value="">
				   </div>			 
			   <div>
					 <button type="submit">Enviar</button>
				</div>
			</form>
            <%- include("./partials/footer") %>
</body>

</html>