<!--ACLARACIÓN: Esta pagina anda, solo falta arreglar los href de img e hípervinculos con la
información que debemos traer de workbench. SOLO POR ESO TIRA ERROR EN LA WEB-->

<!--Para chequear que todo esta bien, prueben en borrar todo lo del ejs y solo codear esto: <%= producto.nombre %>.
Con eso vamos a poder traer el id del producto clickeado en index-->

<html>
<head>
    <%- include("./partials/head", {titulo:"Producto"}) %>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
    	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= producto.nombre %> </h2>
			<p class="product-detail-description">
				<a href="/products/products-edit">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %>
					</p>
					<h1 class="nombre"><a href="/users/profile/<%= producto.users.id %> ">Subido por
							<%= producto.users.nombreUsuario %> </h1> </a>
					<p> </p>

					<% if (locals.user) { %>
					<% if (locals.user.id == producto.users.id) { %>
					<form action="/product/delete/<%= producto.id %> " method="post">
						<button class="borrar" type="submit"> Borrar producto </button>
						</form> 
						<a href="/product/edit/<%= producto.id %>" class="borrar"> Editar producto </a> 
						<% } %>
					<% } %>
					
					
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<% for (let i = 0; i < 1; i++) { %>
									<p class="user">
										<strong> <a href="">Nombre usuario: </a> </strong>
										<%= listaDeComentarios[i].comentario %>	
									</p>
								<% } %> 
								
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
   </main>
   <%- include("./partials/footer") %>
</body>

</html>