<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>

</head>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de: <h2 style="font-weight: bold;">Terrabusi clasico</h2> </h2>
			</div>
			<!-- Show the "ultimos" products -->
			
            
            <div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/products/:id">
						<figure class="product-box_image">
							<img src="<%=alfajoresLista[0].images%>" alt="">
						</figure>
						<article class="product-box_data">
							<h2><%=alfajoresLista[0].nombre%></h2>
							<p><%=alfajoresLista[0].descripcion%></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
    
            <!--
            <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá van los resultados de búsqueda. <br>
			Eliminen estás líneas y cosntruyan la página de resultados de búsqueda. <br>
			////////////////

			search-results/id?search
			
			</h2>
            -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>