<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>

</head>

<body>
	<!-- Header -->
	<% if (locals.usuario != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else {%>
		<%- include('./partials/header') %>
	<% } %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de busqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
            
            <div class="col-12 col-sm-6 col-lg-3">
				<% if(productos.length == 0) { %> 
	
					<div class="col-12 ">
						<h2 class="mensajeError" style="color: red;"> <i class="fa-solid fa-circle-xmark"></i> No se encontraron resultados a tu busqueda</h2>
					</div>
					<% }  else { %>
				
						<% for ( let i = 0; i < productos.length; i++ ) { %>
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
										<a href="/producto/id/<%= productos[i].id%>">
											<figure class="product-box_image">
												<img src="/images/products/<%= productos[i].imagen %>" alt="<%= productos[i].nombre %> ">
											</figure>
											<article class="product-box_data">
												<h2><%= productos[i].nombre %> </h2>
												<p><%= productos[i].descripcion %></p>
											</article>
										</a>
								</section>
							</div>
						<% } %> 
					<% } %> 
    
            <!--
            <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá van los resultados de búsqueda. <br>
			Eliminen estás líneas y cosntruyan la página de resultados de búsqueda. <br>
			////////////////

			search-results/id?search
			
			</h2>
            -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>